* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    margin: auto;
    /* background:cover;
    background-image:url("%%%%%%");*/
    background-color: lightblue;
    display: block;
}

header {
    text-align: center;
}

h1 {
    line-height: 100px;
    font-size: 50px;
}

.contentDisplay {
    display: block;
    line-height: 20px;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    background-color: aliceblue;
}

footer {
    display: block;
    line-height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 auto;
    width: 350px;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 40px;
    }
    .contentDisplay {
        width: 250px;
    }
    footer {
        width: 300px;
    }
}